{{- 'image-with-text-v2.out.css' | asset_url | stylesheet_tag -}}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section
  class="section-{{ section.id }} image-with-text-v2 custom-container section-{{ section.id }}-padding"
>
  <div class="image-with-text-v2__block--content">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'title' %}
          <h2 class="h2-custom">{{ block.settings.title }}</h2>
        {% when 'subtitle' %}
          <h4>{{ block.settings.subtitle }}</h4>
        {% when 'text' %}
          <p>{{ block.settings.text }}</p>
        {% when 'button' %}
          {% if block.settings.btn_url != blank %}
            <a class="button button--with-icon" href="{{ block.settings.btn_url }}">
              {{- block.settings.btn_label }}
              <span class="icon" aria-hidden="true" role="img">
                {%- render 'theme-symbols', icon: 'arrow_icon_smallest' -%}
              </span>
            </a>
          {% endif %}
      {% endcase %}
    {% endfor %}
  </div>

  <div class="image-with-text-v2__block--image{% if section.settings.image_left == true %} image-left {% endif %}">
    {% if section.settings.image != blank %}
      {%- liquid
        assign image_width = section.settings.image.width
        assign image_height = image_width | divided_by: section.settings.image.aspect_ratio
      -%}
      {{
        section.settings.image
        | image_url: width: 1400, format: 'webp'
        | image_tag:
          width: image_width,
          height: image_height,
          loading: 'lazy',
          fetchpriority: 'high',
          sizes: '(max-width: 750px) 350px, 700px',
          widths: '350, 700, 1100, 1400',
          alt: 'Banner image near form'
      }}
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Image with text v2",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "image_left",
      "label": "Image left",
      "default": false
    },
    {
      "type": "header",
      "content": "Paddings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding top (desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom (desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mb",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding top (mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom (mobile)",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    },
    {
      "type": "subtitle",
      "name": "Subtitle",
      "settings": [
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "url",
          "id": "btn_url",
          "label": "Url"
        },
        {
          "type": "text",
          "id": "btn_label",
          "label": "Label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text v2"
    }
  ]
}
{% endschema %}
